@import "../../styles/mixins";
@import "../../styles/responsive";

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  .appName {
    font-size: 60px;
    font-weight: 500;
    color: var(--dark-color-900);
    text-transform: capitalize;
    margin-bottom: 0;
    animation: FadeOut 0.5s linear;
  }
  .logo {
    width: 90px;
    height: 90px;
    object-fit: contain;
    animation: FadeOut 0.5s linear;
  }

  @include mobile {
    .logo {
      width: 50px;
      height: 50px;
    }
    .appName {
      font-size: 30px;
    }
  }
}

@keyframes FadeOut {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
