@import "../../styles/mixins";
@import "../../styles/responsive";

.adminLayout {
  width: 100%;
  height: 100%;
  background-color: var(--border-color-light);
}
.children {
  padding: 24px 8%;
  margin-top: 72px;
  @include mobile {
    margin-top: 67px;
    padding: 24px 5%;
  }
}
