@import "../../tweetList.module.scss";
.dotIcon {
  font-size: 20px;
  cursor: pointer;
  color: var(--dark-color-700);
}
.tweetSettingList {
  position: absolute;
  top: 24px;
  right: 0;
  @include resetList;
  padding: 16px;
  width: fit-content;
  background-color: var(--white-color);
  box-shadow: var(--shadow-popover);
  border-radius: 20px;
}
.tweetSettingItem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 12px;
  gap: 8px;
  cursor: pointer;
  border-radius: 10px;
  @include transition(0.2s, linear);
  &:hover {
    @include transition(0.2s, linear);
    background-color: var(--border-color-light);
  }
  &.update {
    &:hover {
      span,
      .icon {
        color: var(--primary-color);
      }
    }
  }
  &.delete {
    &:hover {
      span,
      .icon {
        color: var(--error-color);
      }
    }
  }
  .settingIcon {
    width: 16px;
  }
  .icon {
    font-size: 16px;
  }
  span {
    font-size: 14px;
    font-weight: 500;
    color: var(--dark-color-900);
    white-space: nowrap;
    flex: 1;
  }
}
