@import "../../../../styles/mixins";
@import "../../../../styles/responsive";

.tweetListContainer {
}
.tweetItem {
}
.tweetImage {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.skeleton {
  width: 100% !important;
  height: 300px !important;
  aspect-ratio: 1 !important;

  @include desktop {
    height: 181px !important;
  }
  @include tablet {
    height: 229px !important;
  }
  @include mobile {
    height: 125px !important;
  }
}
