:root {
  --white-color: #fff;
  --black-color: #000;
  --bg-color: #333;
  --primary-color: #3f9cf0;
  --text-color-light: rgb(83, 100, 113);
  --grey-color-light: #ddd;
  --dark-color-900: #1b2022;
  --dark-color-800: #323232;
  --dark-color-700: #6b7280;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
html {
  font-size: 62.5%;
  transition: all 0.25s linear;
}
body {
  min-height: 100vh;
  font-size: 1.6rem !important;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
