@import "../../../../../styles/mixins";
@import "../../../../../styles/responsive";

.wrapper {
  height: 100%;
  width: 100%;
  background-color: var(--white-color);
  border-radius: 20px;
  box-shadow: var(--shadow-section-dashboard);
  display: flex;
  justify-content: center;
  align-items: center;
  .chart {
    width: 100%;
    height: 100%;
  }
  @include tablet {
    margin-top: 12px;
  }
  @include mobile {
    margin-top: 12px;
  }
}
