.loadingDots {
  width: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: d5 1s infinite linear alternate;
}
@keyframes d5 {
  0% {
    box-shadow: 20px 0 var(--primary-color), -20px 0 #fff;
    background: var(--primary-color);
  }
  33% {
    box-shadow: 20px 0 var(--primary-color), -20px 0 #fff;
    background: #fff;
  }
  66% {
    box-shadow: 20px 0 #fff, -20px 0 var(--primary-color);
    background: #fff;
  }
  100% {
    box-shadow: 20px 0 #fff, -20px 0 var(--primary-color);
    background: var(--primary-color);
  }
}
