@import "../../styles/mixins";
@import "../../styles/responsive";

.form {
  padding: 16px;
  .formGroup {
    &:not(:first-child) {
      margin-top: 14px;
    }
  }
  .formLabel {
    font-size: 16px;
    font-weight: 600;
    color: var(--dark-color-900);
  }
  .formInput {
    padding: 14px;
    font-size: 14px;
    font-weight: 500;
    color: var(--dark-color-900);
    border-radius: 6px;
    border: 2px solid var(--border-color-light);
    &.error {
      border: 2px solid var(--error-color) !important;
      color: var(--error-color) !important;
    }
    &:focus {
      border: 2px solid var(--primary-color);
      box-shadow: none;
    }
  }
  .btnSave {
    width: 80px;
    height: 40px;
    border-radius: 100rem;
    font-size: 14px;
    font-weight: 600;
    color: var(--white-color);
    background-color: var(--primary-color);
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    &.disabled {
      background-color: rgba($color: #3f9cf0, $alpha: 0.4);
    }
    .iconLoading {
      font-size: 20px;
      animation: Rotate 0.5s ease-in-out infinite;
    }
  }

  .linkForgotPwd {
    font-size: 12px;
    font-weight: 500;
    color: var(--primary-color);
    margin-top: 4px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .textErrorValidate {
    font-size: 14px;
    font-weight: 500;
    color: var(--error-color);
    margin-top: 6px;
    margin-bottom: 0;
  }
}
