.wrapper {
  position: absolute;
  top: 54px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 16px;
  background-color: var(--white-color);
  box-shadow: var(--shadow-popover);
  border-radius: 10px;
  z-index: 2;
  &.withoutUsers {
    height: 100px;
  }
}
.searchTextPlaceHolder {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-top: 12px;
}
.userList {
}
.userItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 14px;
  cursor: pointer;
  color: var(--dark-color-900);
  text-decoration: none;
  &:hover {
    background-color: var(--border-color-light);
  }
  &:not(:first-child) {
    margin-top: 24px;
  }
  gap: 12px;
  .avatar {
    width: 60px;
    height: 60px;
    border-radius: 100rem;
    object-fit: cover;
  }
  .name {
    font-size: 16px;
    font-weight: 700;
    color: var(--dark-color-900);
    margin-bottom: 0;
    &:hover {
      text-decoration: underline;
    }
  }
  .iconVerified {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }
  .nickname {
    font-size: 14px;
    font-weight: 500;
    color: var(--dark-color-700);
    margin-bottom: 0;
  }
}
