@import "../../../styles/mixins";
@import "../../../styles/responsive";

.commentItem {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  padding: 16px;
  border-bottom: 1px solid var(--border-color-weight);
  cursor: pointer;
  &:hover {
    background-color: var(--border-color-light);
  }
  &:not(:first-child) {
    margin-top: 24px;
  }
}
.avatarAuthor {
  width: 40px;
  height: 40px;
  border-radius: 100rem;
  object-fit: cover;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100rem;
  }
  @include mobile {
    width: 40px;
    height: 40px;
    border-radius: 100rem;
  }
}
.commentInfo {
  flex: 1;

  .authorInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    .name {
      font-size: 18px;
      font-weight: 600;
      color: var(--dark-color-900);
      margin-bottom: 0;
    }
    .nickname {
      font-size: 14px;
      font-weight: 500;
      color: var(--dark-color-700);
      margin-bottom: 0;
    }
  }
  .createdAt {
    font-size: 14px;
    font-weight: 600;
    color: var(--dark-color-700);
    margin-bottom: 0;
  }
  .content {
    font-size: 14px;
    font-weight: 500;
    color: var(--dark-color-900);
    white-space: pre-wrap;
    margin-top: 16px;
  }
  .image {
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    object-fit: cover;
    margin-bottom: 16px;
    margin-top: 16px;
  }
}
.btnDot {
  background-color: transparent;
  border: none;
}
.dotIcon {
  font-size: 20px;
  color: var(--dark-color-700);
}
.popover {
  border: none;
  border-radius: 20px;
}
.menuSettingList {
  @include resetList;
  padding: 16px;
  width: fit-content;
  background-color: var(--white-color);
  box-shadow: var(--shadow-popover);
  border-radius: 20px;
}
.menuSettingItem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 12px;
  gap: 8px;
  cursor: pointer;
  border-radius: 10px;
  @include transition(0.2s, linear);
  &:hover {
    @include transition(0.2s, linear);
    background-color: var(--border-color-light);
  }
  &.update {
    &:hover {
      span,
      .icon {
        color: var(--primary-color);
      }
    }
  }
  &.delete {
    &:hover {
      span,
      .icon {
        color: var(--error-color);
      }
    }
  }
  .settingIcon {
    width: 16px;
  }
  .icon {
    font-size: 16px;
  }
  span {
    font-size: 14px;
    font-weight: 500;
    color: var(--dark-color-900);
    white-space: nowrap;
    flex: 1;
  }
}
