@import "../../../styles/mixins";
@import "../../../styles/responsive";

.btnList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  @include mobile {
  }
}
.btnItem {
  padding: 8px 20px;
  box-shadow: var(--shadow-btn-pagination);
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark-color-900);
  border-radius: 6px;
  color: var(--white-color);
  cursor: pointer;
  &.delete {
    color: var(--error-color);
    transition: all 0.1s ease-in;
    &:hover {
      background-color: var(--error-color);
      color: var(--white-color);
      transition: all 0.1s ease-in;
    }
  }
  &.inactive {
    color: var(--green-color);
    transition: all 0.1s ease-in;
    &:hover {
      background-color: var(--green-color);
      color: var(--white-color);
      transition: all 0.1s ease-in;
    }
  }
  &.active {
    color: var(--gray-color);
    transition: all 0.1s ease-in;
    &:hover {
      background-color: var(--gray-color);
      color: var(--white-color);
      transition: all 0.1s ease-in;
    }
  }
  &.edit {
    color: var(--primary-color);
    text-decoration: none;
    transition: all 0.1s ease-in;
    &:hover {
      background-color: var(--primary-color);
      color: var(--white-color);
      transition: all 0.1s ease-in;
    }
  }
}
