@import "../../styles/mixins";
@import "../../styles/responsive";

.heading {
  font-size: 30px;
  font-weight: 600;
  color: var(--dark-color-900);
  margin-top: 16px;
  margin-bottom: 32px;
  padding-left: 16px;
  @include mobile {
    display: none;
  }
}
