@import "../../../styles/mixins";
@import "../../../styles/responsive";

.tabList {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--border-color-weight);
  position: sticky;
  top: 0;
  background-color: rgba($color: #fff, $alpha: 0.8);
  filter: blur(0.5);
  z-index: 2;
  @include mobile {
    top: 72px;
    &.withoutUser {
      top: 57px;
    }
  }
}
.tabItem {
  width: 50%;
  padding: 16px;
  font-size: 16px;
  font-weight: 600;
  color: var(--dark-color-700);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: var(--dark-color-900);
  }
  &.active {
    font-weight: 800;
    color: var(--dark-color-900);
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      height: 4px;
      width: 30%;
      border-radius: 100rem;
      background-color: var(--primary-color);
    }
  }
}
