@import "../../styles/mixins";
@import "../../styles/responsive";

.tweetDetailContainer {
  padding: 20px;
}
.backLink {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  font-weight: 700;
  color: var(--dark-color-900);
  text-decoration: none;
  margin-bottom: 16px;
  &:hover {
    .iconBack {
      background-color: rgba($color: #000000, $alpha: 0.2);
    }
    color: var(--dark-color-900);
  }
  .iconBack {
    width: 40px;
    height: 40px;
    border-radius: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon {
    font-size: 24px;
    color: var(--dark-color-900);
  }
}

.userInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 100rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 100rem;
    }
  }
  .name {
    font-size: 14px;
    font-weight: 700;
    color: var(--dark-color-900);
    margin-bottom: 0;
  }
  .nickname {
    font-size: 12px;
    font-weight: 500;
    color: var(--dark-color-700);
    margin-bottom: 0;
  }
  .dotIcon {
    font-size: 20px;
    cursor: pointer;
    color: var(--dark-color-700);
  }
}
.audienceIcon {
  .icon {
    font-size: 18px;
    color: var(--black-color);
    margin-left: 10px;
  }
}
.tweetSettingList {
  position: absolute;
  top: 24px;
  right: 0;
  @include resetList;
  padding: 16px;
  width: fit-content;
  background-color: var(--white-color);
  box-shadow: var(--shadow-popover);
  border-radius: 20px;
}
.tweetSettingItem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 12px;
  gap: 8px;
  cursor: pointer;
  border-radius: 10px;
  @include transition(0.2s, linear);
  &:hover {
    @include transition(0.2s, linear);
    background-color: var(--border-color-light);
  }
  &.update {
    &:hover {
      span,
      .icon {
        color: var(--primary-color);
      }
    }
  }
  &.delete {
    &:hover {
      span,
      .icon {
        color: var(--error-color);
      }
    }
  }
  .settingIcon {
    width: 16px;
  }
  .icon {
    font-size: 16px;
  }
  span {
    font-size: 14px;
    font-weight: 500;
    color: var(--dark-color-900);
    white-space: nowrap;
    flex: 1;
  }
}
.content {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: var(--dark-color-900);
  margin: 16px 0;
  @include textLineBreak;
}
.image {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.dateCreated {
  font-size: 12px;
  font-weight: 500;
  color: var(--dark-color-700);
}
.lineDivide {
  width: 100%;
  height: 0.5px;
  background-color: var(--border-color-weight);
  margin: 12px 0;
}
