@import "../../../styles/mixins";
@import "../../../styles/responsive";
.userListWrapper {
  @include desktop {
    display: none;
  }
  @include tablet {
    display: none;
  }

  @include mobile {
    display: none;
  }
}
.textWithoutUser {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: var(--dark-color-700);
  width: 100%;
  height: calc(100% - 58px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  font-style: italic;
  a {
    display: block;
    color: var(--primary-color);
    text-decoration: none;
    font-size: 24px;
    font-style: normal;
    &:hover {
      text-decoration: underline;
    }
  }
}
.heading {
  font-size: 20px;
  font-weight: 700;
  color: var(--dark-color-900);
  padding: 14px;
  margin-bottom: 0;
  position: sticky;
  top: 0;
  background-color: var(--bg-color-light);
  box-shadow: 0 0 2px rgba($color: #000000, $alpha: 0.2);
}
.userList {
  height: 380px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--bg-color-light);
  border-radius: 20px;
  margin: 20px;
}
.userItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 14px;
  padding: 14px;
  cursor: pointer;
  &:hover {
    background-color: var(--border-color-light);
  }
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 100rem;
    object-fit: cover;
  }
  .name {
    font-size: 16px;
    font-weight: 600;
    color: var(--dark-color-900);
    margin-bottom: 0;
    &:hover {
      text-decoration: underline;
    }
  }
  .iconVerified {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }
  .nickname {
    font-size: 14px;
    font-weight: 500;
    color: var(--dark-color-700);
    margin-bottom: 0;
  }
  .btnFollow {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 600;
    color: var(--white-color);
    background-color: var(--dark-color-900);
    border-radius: 100rem;
    width: 80px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    .iconLoading {
      font-size: 16px;
      animation: Rotate 0.5s linear infinite;
    }
  }
}
.btnLoadMore {
  padding: 14px;
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-color);
  width: 100%;
  text-align: left;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  &:hover {
    background-color: var(--border-color-light);
  }
  .iconLoading {
    font-size: 18px;
    animation: Rotate 0.5s linear infinite;
  }
}
